<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Iruda</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="dark-background">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand font-bold" href="#">이루다</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-dropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-dropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link font-medium" href="/gotoprofile">내 프로필</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-medium font-pink" href="/">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            <!-- feed-length -->
            <% for (var i=0; i<board.length; i++) { %>
            <!-- from here -->
            <div class="feed-container white-background">
                <div style="text-align: left;">
                    <!-- EJS author name -->
                    <h2 class="font-bold-black">@<%= board[i].author %></h2>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <!-- EJS image source  -->
                        <img class="feed-img" src="<%= board[i].picture_url %>" alt="">
                    </div>
                    <div class="col-lg-6 feed-container-right">
                        <img class="feed-heart" src="images/heart.png" alt="">
                        <div class="feed-heart-num">
                            <!-- EJS heart count -->
                            <h4 class="font-light-black"><%= board[i].like_count %></h4>
                        </div>
                        <!-- EJS feed message  -->
                        <p class="font-light-black feed-p">
							<span style="font-medium-black"><%= board[i].board_date %></span>
							<br>
							<%= board[i].description %>
							<br>
							#<%= board[i].interest%>
						</p>
						
                    </div>
                </div>
                <!-- to here -->
				</div>
            <% } %>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/feed.js"></script>
</html>